# add all enviroment variable here.

# add all secrets and credentials in `.envrc.local`
if [ "$APP_ENV" = "local" ]; then
    source .envrc.local
fi

if [ "$APP_ENV" = "prod" ]; then
    source .envrc.prod
fi


